<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/carrucel">
      <img src="assets/imagen/LOGOS.jpg" alt="Logo" class="logo">
    </a>

    <!-- Botón para dispositivos móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Menú principal -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/recepcionista/form-panel-control">Reservas</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/servicios2">Servicios</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/habitaciones/habitacionesrece">Mis Habitaciones</a></li> 
      </ul>

      <!-- Iconos de redes sociales -->
      <ul class="navbar-nav social-icons">
        <li><a href="https://www.youtube.com/@tecnologicodelazuay8305" target="_blank"><i class="fab fa-youtube"></i></a></li>
        <li><a href="https://www.facebook.com/TecAzuay" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://twitter.com/TecAzuay" target="_blank"><i class="fab fa-twitter"></i></a></li>
      </ul>

      <!-- Botón Cerrar Sesión con más separación -->
      <div class="logout-container">
        <button class="btn logout-btn" (click)="apagar()">Cerrar Sesión</button>
      </div>
    </div>
  </div>
</nav>
