<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/carrucel">
      <img src="assets/imagen/logosinfondo.png" alt="Logo" class="logo">
    </a>
    
    <!-- Toggle button for responsive menu -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu items -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/panel-recepcion']">🏠 Listado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/recepcionista/form']">👩‍💼 Recepcionista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/habitaciones/form']">🛏️ Habitaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/servicios/form']">🛠️ Servicios</a>
        </li>
      </ul>

      <!-- Social Media Icons -->
      <ul class="navbar-nav social-icons">
        <li><a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a></li>
        <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a></li>
      </ul>

      <!-- Logout Button -->
      <button class="btn logout-btn" (click)="apagar()">Cerrar Sesión</button>
    </div>
  </div>
</nav>
