<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/carrucel">
      <img src="assets/imagen/logosinfondo.png"alt="Logo" class="logo">
    </a>

    <!-- Botón para el menú colapsable -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido del menú -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/habitaciones">🛏️ Habitaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservas/formhistorial">📋 Mis Reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/servicios">🛠️ Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/clientes', usuario]">👤 Mi Perfil</a>
        </li>
      </ul>

      <!-- Íconos de redes sociales -->
      <ul class="navbar-nav social-icons">
        <li>
          <a href="https://www.youtube.com/@tecnologicodelazuay8305" target="_blank"><i class="fab fa-youtube"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/TecAzuay" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/TecAzuay" target="_blank"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://github.com/RafaelAvilaAlv/StuadentStayPCWEBMOVIL.git" target="_blank"><i class="fab fa-github"></i></a>
        </li>
      </ul>

      <!-- Botón de cierre de sesión -->
      <button class="btn logout-btn" (click)="apagar()">Cerrar Sesión</button>
    </div>
  </div>
</nav>
