<footer class="text-center text-lg-start text-white" style="background-color: #525354">
  <div class="container p-4 pb-0">

    <section class="">
      <div class="row">

        <!-- Logo y Frase Inspiradora -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            <img src="assets/imagen/LOGOPRUEBA.png" style="width: 120px; height: auto; margin-right: 10px;">
          </h6>
          <p>
            "Encuentra tu hogar lejos de casa con Student Stay: comodidad, accesibilidad y tranquilidad para tu experiencia universitaria."
          </p>
        </div>

        <hr class="w-100 clearfix d-md-none" />

        <!-- Servicios -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Servicios</h6>
          <p><a class="text-white">Lavandería 24H</a></p>
          <p><a class="text-white">WiFi Ilimitado</a></p>
          <p><a class="text-white">Seguridad 24/7</a></p>
          <p><a class="text-white">Áreas de Estudio</a></p>
        </div>

        <hr class="w-100 clearfix d-md-none" />

        <!-- Contacto -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contáctanos</h6>
          <p><i class="fas fa-map-marker-alt mr-2"></i> Octavio Chacón Moscoso 1-98</p>
          <p><i class="fas fa-envelope mr-2"></i> infotecazuay.edu.e</p>
          <p><i class="fas fa-phone mr-2"></i> 095-863-5351</p>
        </div>

        <!-- Redes Sociales -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Síguenos</h6>
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/TecAzuay" role="button" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/TecAzuay" role="button" target="_blank"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.tecazuay.edu.ec/" role="button" target="_blank"><i class="fab fa-google"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/tecdelazuay/?hl=es-la" role="button" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>

        <hr class="w-100 clearfix d-md-none" />

        <!-- Desarrolladores -->
        <div class="col-md-12 col-lg-12 col-xl-12 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold text-center">Desarrolladores</h6>
          <div class="d-flex justify-content-center">
            <p class="mx-3">Milton Avila</p>
            <p class="mx-3">Karla Méndez</p>
            <p class="mx-3">Jose Morocho</p>
            <p class="mx-3">Luis Rey</p>
            <p class="mx-3">Estefanía Zhungo</p>
          </div>
        </div>

      </div>
    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 ROOM4U - Todos los derechos reservados | <a class="text-white" href="https://www.studentstay.com/">studentstay.com</a>
  </div>
</footer>
