<footer class="text-center text-lg-start" style="background-color: #ced6df;">
  <div class="container p-4 pb-0">

    <section>
      <div class="row">
        
        <!-- Logo y Frase Inspiradora -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            <img src="assets/imagen/LOGOPRUEBA.png" style="width: 120px; height: auto;">
          </h6>
          <p style="font-style: italic; color: #000;">
            "Encuentra tu hogar lejos de casa con Room4u: comodidad, accesibilidad y tranquilidad para tu experiencia universitaria."
          </p>
        </div>

        <hr class="w-100 clearfix d-md-none" />

        <!-- Servicios -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #000;">Servicios</h6>
          <ul style="list-style: none; padding: 0;">
            <li><a class="text-dark" href="#">Lavandería 24H</a></li>
            <li><a class="text-dark" href="#">WiFi Ilimitado</a></li>
            <li><a class="text-dark" href="#">Seguridad 24/7</a></li>
            <li><a class="text-dark" href="#">Áreas de Estudio</a></li>
          </ul>
        </div>

        <hr class="w-100 clearfix d-md-none" />

        <!-- Contacto -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #000;">Contáctanos</h6>
          <p><i class="fas fa-map-marker-alt mr-2"></i> Octavio Chacón Moscoso 1-98</p>
          <p><i class="fas fa-envelope mr-2"></i> infotecazuay.edu.e</p>
          <p><i class="fas fa-phone mr-2"></i> 095-863-5351</p>
        </div>

        <!-- Redes Sociales -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #000;">Síguenos</h6>
          <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/TecAzuay" role="button" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com/TecAzuay" role="button" target="_blank"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-dark btn-floating m-1" href="https://www.tecazuay.edu.ec/" role="button" target="_blank"><i class="fab fa-google"></i></a>
          <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/tecdelazuay/?hl=es-la" role="button" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>

        <hr class="w-100 clearfix d-md-none" />

      </div>
    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #1c2b38;">
    <p style="color: #fff;">© 2024 ROOM4U - Todos los derechos reservados | <a class="text-white" href="https://www.Room4u.com/">ROO4U.com</a></p>
  </div>
</footer>
