<div class="container-custom">
  <div class="principal">
    <main class="table">
      <section class="table_body">
        <table>
          <thead>
            <tr>
              <th>Tipo de servicio</th>
              <th>Número de habitación</th>
              <th>Descripción</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let servicio2 of servicios2">
              <td>{{ obtenerTipoServicio(servicio2.idTipo_servicio) }}</td>
              <td>{{ obtenerNumeroHabitacion(servicio2.idHabitaciones) }}</td>
              <td>{{ servicio2.descripcion }}</td>
              <td>
                <button type="button" class="status" [ngClass]="{
                  'pendiente': servicio2.estado === 'Pendiente',
                  'realizado': servicio2.estado === 'Realizado'
                }" (click)="cambiarEstado(servicio2)">
                  {{ servicio2.estado }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
  </div>
</div>