<div class="container-custom">
  <div class="principal">
    <main class="table">
      <section class="table_body">
        <table>
          <thead>
            <tr>
              <th>Tipo de servicio</th>
              <th>Número de habitación</th>
              <th>Descripción</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let servicio2 of servicios2">
              <td>{{ obtenerTipoServicio(servicio2.idTipo_servicio) }}</td>
              <td>{{ obtenerNumeroHabitacion(servicio2.idHabitaciones) }}</td>
              <td>{{ servicio2.descripcion }}</td>
              <td class="estado-col">
                <div class="button-group">
                  <!-- Mostrar estado actual si el servicio está 'Realizado' o 'Rechazado' -->
                  <span *ngIf="servicio2.estado === 'Realizado' || servicio2.estado === 'Rechazado'">
                    {{ servicio2.estado }}
                  </span>
                  <!-- Mostrar botones si el estado no es 'Realizado' ni 'Rechazado' -->
                  <button *ngIf="servicio2.estado !== 'Realizado' && servicio2.estado !== 'Rechazado'"
                    type="button" class="status" [ngClass]="{
                      'pendiente': servicio2.estado === 'Pendiente',
                      'realizado': servicio2.estado === 'Aprobado'
                    }" (click)="cambiarEstado(servicio2)">
                    <!-- Cambié el texto aquí -->
                    {{ servicio2.estado === 'Pendiente' ? 'Aprobar' : servicio2.estado }}
                  </button>
                  <button *ngIf="servicio2.estado !== 'Realizado' && servicio2.estado !== 'Rechazado'"
                    type="button" class="status rechazar" [disabled]="servicio2.estado === 'Rechazado'" (click)="rechazarServicio(servicio2)">
                    Rechazar
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
  </div>
</div>
