<div *ngIf="showChat" class="chatbot-container" [ngClass]="{'minimized': isMinimized}">
  <div class="header">
    <div class="chat-title-container" *ngIf="!isMinimized">
      <img src="assets/imagen/iconochat.png" alt="Logo" class="header-logo" />
      <div class="text-container">
        <span class="title">ROOCHAT</span>
        <span class="subtitle">Asistente Virtual</span>
      </div>
    </div>
    <button class="minimize-btn" (click)="toggleMinimize()">
      <img *ngIf="isMinimized" src="assets/imagen/iconochat.png" alt="Minimizar" class="minimized-img" />
      <span *ngIf="!isMinimized">➖</span>
    </button>
  </div>

  <div class="messages" *ngIf="!isMinimized">
    <div class="welcome-message">
      <p>Bienvenido a ROOM4U. ¿En qué puedo ayudarte hoy?</p>
    </div>

    <div *ngFor="let msg of messages" class="message-container" [ngClass]="{'user-msg': msg.sender === 'Tú', 'bot-msg': msg.sender === 'Chatbot'}">
      <div class="icon">
        <img *ngIf="msg.sender === 'Chatbot'" src="assets/imagen/iconochat.png" alt="Icono Chatbot" class="icon-img" />
        <img *ngIf="msg.sender === 'Tú'" src="assets/imagen/usuario.png" alt="Icono Usuario" class="icon-img" />
      </div>
      <div class="message-content">
        <strong>{{ msg.sender }}:</strong> {{ msg.text }}
      </div>
    </div>
    

  </div>

  <div class="options" *ngIf="!isMinimized">
    <button (click)="handleOption('about')">¿De qué se trata Room4U?</button>
    <button (click)="handleOption('mission')">Misión</button>
    <button (click)="handleOption('vision')">Visión</button>
    <button (click)="handleOption('values')">Valores</button>
  </div>

  <div class="input-area" *ngIf="!isMinimized">
    <input [(ngModel)]="userMessage" (keyup.enter)="sendMessage()" placeholder="Escribe aquí..." />
    <button (click)="sendMessage()">Enviar</button>
  </div>
</div>
