<div class="login-container">
  <div class="login-card">
    <img src="assets/imagen/LOGOPRUEBA.png" alt="StudentStay Logo" class="logo">
    <h2 class="login-title">Iniciar Sesión</h2>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input class="form-control" type="text" id="usuario" placeholder="Email Adress" formControlName="usuario" />
      </div>
      <div class="form-group">
        <input class="form-control" type="password" id="contraneusu" placeholder="Password" formControlName="contraneusu" />
      </div>
      <button type="submit" class="btn btn-gradient">Ingresar</button>
    </form>
    <div class="redirection-buttons">
      <p class="register-link" (click)="redirectA()">No tienes cuenta? Registrate</p>
    </div>
  </div>
</div>
