<div class="container mt-4 py-4">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-sm-7">
            <div class="card bg-light text-dark" style="height: 100%;">
                <div class="card-header text-center">
                    <h2>{{titulo}}</h2>
                </div>
                <form ngNativeValidate (ngSubmit)="createHabitacion()" class="p-2">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3"><strong>Número de Habitación</strong></label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" [(ngModel)]="habitaciones.nHabitacion" name="nHabitacion" placeholder="Ingrese el número de habitación" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3"><strong>Número de Piso</strong></label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" [(ngModel)]="habitaciones.nPiso" name="nPiso" placeholder="Ingrese el número de piso" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3"><strong>Categoría</strong></label>
                        <div class="col-sm-9">
                            <select class="form-control" [(ngModel)]="habitaciones.idCategoria" name="idCategoria" (change)="onCategoriaSelect(habitaciones.idCategoria)" required>
                                <option value="" disabled selected>Seleccione la categoría</option>
                                <option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">
                                    {{ categoria.nombre }} <!-- Aquí se muestra el nombre de la categoría -->
                                </option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3"><strong>Precio</strong></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" [(ngModel)]="habitaciones.precio" name="precio" placeholder="Ingrese el precio" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3"><strong>Descripción</strong></label>
                        <div class="col-sm-9">
                            <textarea class="form-control" [(ngModel)]="habitaciones.descriphabi" name="descriphabi" placeholder="Ingrese la descripción" required></textarea>
                        </div>
                    </div>
                   
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3"><strong>Imagen Principal</strong></label>
                        <div class="col-sm-9">
                            <input type="file" class="form-control" name="foto" accept="image/*" (change)="onFileSelected($event, 'foto')">
                            <img [src]="previewImage1" alt="Vista previa" class="img-thumbnail mt-2" *ngIf="previewImage1">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3"><strong>Imagen Secundaria</strong></label>
                        <div class="col-sm-9">
                            <input type="file" class="form-control" name="foto1" accept="image/*" (change)="onFileSelected($event, 'foto1')">
                            <img [src]="previewImage2" alt="Vista previa" class="img-thumbnail mt-2" *ngIf="previewImage2">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3"><strong>Imagen Extra</strong></label>
                        <div class="col-sm-9">
                            <input type="file" class="form-control" name="foto2" accept="image/*" (change)="onFileSelected($event, 'foto2')">
                            <img [src]="previewImage3" alt="Vista previa" class="img-thumbnail mt-2" *ngIf="previewImage3">
                        </div>
                    </div>
                    



                     <!-- Aquí se muestra el nombre de la categoría -->
                    <div class="form-group row">
                        <label for="recepcionista" class="col-form-label col-sm-3"><strong>Propietario</strong></label>
                        <div class="col-sm-9">
                          <select
                            class="form-control"
                            [(ngModel)]="recepcionistaSeleccionado"
                            name="recepcionista"
                            required
>
                            <option *ngFor="let recepcionista of recepcionistas" [value]="recepcionista.idRecepcionista">
                              {{ recepcionista.usuario }}
                            </option>
                          </select>
                        </div>
                      </div>
                    


                    <div class="form-group row">
                        <label class="col-form-label col-sm-3"><strong>Ubicación</strong></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" [(ngModel)]="habitaciones.latitud" name="latitud" placeholder="Latitud" required readonly>
                            <input type="text" class="form-control mt-2" [(ngModel)]="habitaciones.longitud" name="longitud" placeholder="Longitud" required readonly>                            
                            <div id="map" class="map-container mt-2" style="height: 400px;"></div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary" (click)="convertToBase64()">Crear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

