<div class="bg-gray-100 p-6 rounded-lg">
  <h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">
    SOLICITUDES DE HABITACIONES
  </h2>

  <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
    <ng-container *ngFor="let habitacion of habitaciones; let i = index">
      <div
        class="bg-white p-4 rounded-lg shadow-lg transition-all duration-300 ease-in-out"
        [ngClass]="{ 'h-auto': habitacion.mostrarFotos, 'h-[500px]': !habitacion.mostrarFotos }"
        *ngIf="habitacion.estado === 'No Disponible'"
      >
        <!-- Mostrar el título del anuncio -->
        <h3 class="text-xl font-semibold text-gray-800 mb-4 text-center">
          {{ habitacion.titulo_anuncio }}
        </h3>

        <!-- Imagen principal encima del título -->
        <div class="relative w-full h-40 mb-4">
          <img
            src="{{ habitacion.foto }}"
            alt="Foto Habitación"
            class="absolute inset-0 w-full h-full object-cover rounded-lg"
          />
        </div>

        <!-- Mostrar fotos adicionales cuando se presiona el botón "Revisar" -->
        <div *ngIf="habitacion.mostrarFotos">
          <div class="relative w-full h-40 mb-4">
            <img
              src="{{ habitacion.foto2 }}"
              alt="Foto Habitación"
              class="absolute inset-0 w-full h-full object-cover rounded-lg"
            />
          </div>
          <div class="relative w-full h-40 mb-4">
            <img
              src="{{ habitacion.foto1 }}"
              alt="Foto Habitación"
              class="absolute inset-0 w-full h-full object-cover rounded-lg"
            />
          </div>
        </div>

        <!-- Categoría debajo de las imágenes -->
        <h3 class="text-lg font-semibold text-gray-800 mb-2">
          Categoría: {{ nomCat[i] }}
        </h3>

        <!-- Contenedor para el mapa -->
        <div class="relative w-full h-48 mt-4">
          <div
            id="map-{{ habitacion.idHabitaciones }}"
            class="w-full h-full"
          ></div>
        </div>

        <p class="text-gray-600 mb-2">Precio: ${{ habitacion.precio }}</p>
        <p class="text-sm text-gray-500 mb-4">{{ habitacion.descriphabi }}</p>

        <!-- Botones -->
        <div class="flex justify-between">
          <button
            class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600"
            (click)="aprobarHabitacion(habitacion)"
          >
            Aprobar
          </button>
          <button
            class="bg-yellow-500 text-white px-4 py-2 rounded-lg hover:bg-yellow-600"
            (click)="revisarHabitacion(habitacion)"
          >
            Revisar
          </button>
          <button
            class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600"
            (click)="rechazarHabitacion(habitacion)"
          >
            Rechazar
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
