<div class="bg-gray-100 p-6 rounded-lg">
  <!-- Estadísticas -->
  <div class="mb-8">
    <h3 class="text-2xl font-semibold text-gray-700 mb-4">Estadísticas StudenStay</h3>
    <div class="bg-white p-6 rounded-lg shadow-lg flex items-center justify-between">
      <!-- Círculo de estadísticas -->
      <div class="relative w-40 h-40">
        <div
          class="absolute inset-0 rounded-full"
          [style.background]="
            'conic-gradient(green ' + estadisticas.porcentajeDisponible + '%, red ' + estadisticas.porcentajeNoDisponible + '%)'"
        ></div>
        <div class="absolute inset-2 bg-white rounded-full flex items-center justify-center">
          <span class="text-lg font-semibold text-gray-700">Habitaciones</span>
        </div>
      </div>

      <!-- Información porcentual -->
      <div class="ml-6">
        <div class="flex items-center mb-2">
          <div class="w-4 h-4 bg-green-500 rounded-full mr-2"></div>
          <span class="text-gray-700 font-semibold">Disponibles:</span>
          <span class="text-green-600 font-bold ml-2">
            {{ estadisticas.porcentajeDisponible | number: '1.0-2' }}%
          </span>
        </div>
        <div class="flex items-center">
          <div class="w-4 h-4 bg-red-500 rounded-full mr-2"></div>
          <span class="text-gray-700 font-semibold">Ocupadas:</span>
          <span class="text-red-600 font-bold ml-2">
            {{ estadisticas.porcentajeNoDisponible | number: '1.0-2' }}%
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Habitaciones -->
  <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
    <div
      class="bg-white p-4 rounded-lg shadow-lg"
      *ngFor="let habitaciones of habitaciones; let i = index"
    >
      <div class="relative w-full h-40 mb-4">
        <img
          src="{{ habitaciones.foto }}"
          alt="Foto Habitación"
          class="absolute inset-0 w-full h-full object-cover rounded-lg"
        />
      </div>
      <h3 class="text-lg font-semibold text-gray-800 mb-2">
        Categoría: {{ nomCat[i] }}
      </h3>
      <p class="text-gray-600 mb-2">Precio: ${{ habitaciones.precio }}</p>
      <p class="text-sm text-gray-500 mb-4">{{ habitaciones.descriphabi }}</p>
      <button
        class="bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600 transition"
        [routerLink]="['/reservas/form-reservas', habitaciones.idHabitaciones]"
      >
        Reservar
      </button>
    </div>
  </div>
</div>
