@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;700&display=swap');

.container {
  font-family: 'Zilla Slab', serif;
}

.card {
  background-color: #ececec;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.3s;
  max-width: 800px; /* Limita el ancho máximo de la tarjeta */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.01); /* Efecto sutil */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
}

/* Estilo del título con fondo celeste */
.card-header {
  background-color: #cfe2ff;
  color: rgb(8, 8, 8);
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Zilla Slab', serif;
}

.card-body {
  padding: 1.5rem;
}

.form-group label {
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}

.form-control {
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  font-family: 'Zilla Slab', serif;
}

/* Mejora del botón */
.btn-primary {
  background-color: #4285f4;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  font-weight: bold;
  font-family: 'Zilla Slab', serif;
}

.btn-primary:hover {
  background-color: #056240;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

/* Mejora en los selects */
select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: 'Zilla Slab', serif;
}

/* Ajuste en los textarea */
textarea {
  min-height: 100px;
  resize: vertical;
}

/* Botón pequeño de filtro */
.filter-button-small {
  background-color: #cfe2ff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.filter-button-small:hover {
  background-color: #2983ad;
  transform: scale(1.1);
}
