<div class="container-custom">
    <br>
    <div class="principal">
        <main class="table">
            <section class="table_body">
                <br>
                <div class="busqueda">
                    🔍 BÚSQUEDA POR CÉDULA:
                    <input type="text" class="input-custom" [(ngModel)]="buscar" placeholder="Ingrese Cédula Cliente" name="buscar">
                </div>
                <br>
                <table>
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Foto</th>
                            <th>Cédula</th>
                            <th>Fecha Entrada</th>
                            <th>Fecha Salida</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let combinedData of resultadosCombinados | filter:buscar">
                        <tr>
                            <td>{{ combinedData?.reservaInfo?.idReserva }}</td>
                            <td>
                                <img class="foto-cliente" src="{{combinedData?.clienteInfo?.foto}}" alt="Foto">
                                {{ combinedData?.personaInfor?.nombre }}
                            </td>
                            <td>{{ combinedData?.clienteInfo?.cedula_persona }}</td>
                            <td>{{ combinedData.reservaInfo?.fechaEntrada }}</td>
                            <td>{{ combinedData.reservaInfo?.fechaSalida }}</td>
                            <td>
                                <button class="status {{ combinedData?.reservaInfo?.estado }}" type="button"
                                    (click)="cmabiarEstado(combinedData?.reservaInfo?.idReserva)">
                                    {{ combinedData?.reservaInfo?.estado }}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
    <br>
</div>