<div style="background-color: #F9F9F9;">
  <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <img src='assets/imagen/zhotel-high-resolution-logo.jpg' class="carousel-item active"
        style="width: 85%;left: 7%;">

    </div>
  </div>
  <br>
  <div class="card mb-3" style="max-width: 95%; margin-left: 3cap;">
    <div class="row g-0">
      <div class="col-md-7" style="margin-left: 5cap;">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold; font-size: 42px; color: brown;">Nuestra Misión:</h5>
          <h5 class="card-title" style="font-weight: bold; font-size: 18px;">Creando Recuerdos, Ofreciendo Hogar</h5>
          <p class="card-text" style="text-align: justify;">
            En StudentStay, no solo ofrecemos un sistema para encontrar alojamiento, 
            sino una experiencia completa diseñada para transformar el proceso de búsqueda en algo intuitivo, 
            confiable y verdaderamente adaptado a las necesidades de cada estudiante. 
            Entendemos que buscar un lugar para vivir es mucho más que seleccionar una residencia; 
            es un paso fundamental hacia la construcción de una etapa de vida significativa, 
            llena de oportunidades y crecimiento personal.

            Nuestra misión va más allá de ser una simple herramienta tecnológica. 
            Queremos ser el puente que conecta a los estudiantes con su próximo hogar, 
            un espacio donde puedan sentirse cómodos, seguros y plenamente enfocados en sus metas académicas y personales. 
            Cada detalle de StudentStay ha sido cuidadosamente pensado para garantizar que el proceso de búsqueda y gestión de alojamiento sea sencillo y eficiente,
            permitiendo que los estudiantes dediquen su tiempo a lo que realmente importa: su educación, su bienestar y sus sueños.

            Creemos firmemente que encontrar un hogar no debe ser un desafío, 
            sino una experiencia positiva y memorable, 
            y estamos aquí para acompañar a los estudiantes en cada paso de este camino. 
            Con StudentStay, encontrar tu lugar ideal nunca fue tan fácil.

          </p>

        </div>
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <img src="assets/imagen/studentStaycarrusel.jpg" alt="Trendy Pants and Shoes" class="img-fluid rounded-start" />
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 95%; margin-left: 3cap;">
    <div class="row g-0">
      <div class="col-md-4" style="margin-left: 5cap;">
        <div class="card-body">
          <img src="assets/imagen/studentstayvision.jpg" alt="Trendy Pants and Shoes" class="img-fluid rounded-start" />
        </div>
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold; font-size: 42px; color: brown;">Nuestra Visión:</h5>
          <h5 class="card-title" style="font-weight: bold; font-size: 18px;">Bienvenido a Stue: Donde Cada Momento Es
            Inolvidable</h5>
          <p class="card-text" style="text-align: justify;">
            Nuestro compromiso en StudentStay es claro y profundo: 
            facilitar la vida de los estudiantes foráneos al ofrecerles una plataforma confiable y eficiente, 
            garantizar la tranquilidad de los propietarios al automatizar sus procesos de gestión, 
            y proporcionar a los administradores de residencias una solución integral que les permita supervisar y optimizar sus operaciones con facilidad. 
            Sabemos que la búsqueda de alojamiento es un desafío importante, 
            especialmente para los estudiantes que comienzan una nueva etapa lejos de casa, 
            y es por eso que cada funcionalidad de StudentStay ha sido cuidadosamente diseñada para simplificar,
            automatizar y personalizar la experiencia de alojamiento, desde el primer clic hasta el último pago.

            En StudentStay, creemos firmemente que encontrar un lugar para vivir no debería ser un obstáculo, 
            sino un trampolín hacia nuevas oportunidades. 
            Nuestro objetivo es que cada interacción con la plataforma no solo cumpla con las expectativas, 
            sino que las supere, transformándose en una experiencia fluida y enriquecedora. 
            Combinamos tecnología avanzada, como la inteligencia artificial para personalizar recomendaciones, 
            con un enfoque cálido y humano que prioriza las necesidades y el bienestar de cada usuario.

            Nos impulsa la misión de crear un sistema que no solo sea útil y eficiente, 
            sino también memorable y significativo para todos los que confían en nosotros, 
            ya sean estudiantes en busca de su próximo hogar, propietarios gestionando sus propiedades, 
            o administradores buscando soluciones efectivas. En StudentStay, no solo gestionamos residencias, 
            construimos puentes hacia un futuro mejor para cada uno de nuestros usuarios.

          </p>
        </div>
      </div>
    </div>
  </div>
</div>